*{
    margin: 0;
    padding: 0;}

body{
    background-color: black;
   }
header {
    background-color: #0C090A;
    display: flex;
    height: 10%;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom:5px #FFFFFF;
   
  }

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 4vh;
    display: flex;
    transition: 0.5s ease-in-out;
    margin-top: 10vh;
}

.nav-link:hover{
    transform: scale(1.1);
    color: red;
}

li{
    display: inline-block;
    justify-content: flex-end;
    padding: 1.8rem;
    
}
h1{
    font-size: 2.5rem;
    color: #FFFFFF;
}
p{
    color: white;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;

}

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
    margin-left: 30vh;
    flex-wrap: wrap;
    padding: 1.5%;
    border: none;
    max-width: 40%;
    transition: 0.5s ease-in-out;

}
.Home:hover{
  transform: scale(1.1);
}
